.DynarchCalendar {
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.DynarchCalendar-title {
	border-radius: 0px 0px 4px 4px; -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px;
}
.DynarchCalendar-title div {
	border-radius: 0px 0px 4px 4px; -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px;
}
.DynarchCalendar-topBar {
	border-radius: 4px 4px 0px 0px; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px;
}
.DynarchCalendar-bottomBar {
	border-radius: 0px 0px 4px 4px; -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px;
}
.DynarchCalendar-bottomBar-today {
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
.DynarchCalendar-navBtn {
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
.DynarchCalendar-navBtn div {
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
.DynarchCalendar-menu {
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.DynarchCalendar-menu table td div {
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
.DynarchCalendar-weekNumber {
	border-radius: 4px 0px 0px 4px; -moz-border-radius: 4px 0 0 4px; -webkit-border-radius: 4px 0 0 4px;
}
.DynarchCalendar-day {
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
.DynarchCalendar-day-disabled {
	border-radius: 0px; -moz-border-radius: 0; -webkit-border-radius: 0;
}
.DynarchCalendar-tooltipCont {
	-moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 5px;
}
.DynarchCalendar-time-hour {
	-moz-border-radius: 3px 0 0 3px; -webkit-border-radius: 3px;
}
.DynarchCalendar-time-minute {
	-moz-border-radius: 3px 0 0 3px; -webkit-border-radius: 3px;
}
.DynarchCalendar-time-am {
	-moz-border-radius: 3px; -webkit-border-radius: 3px;
}
