body {
	font: 14px/normal Arial, "Lucida Grande", "Arial", "Tahoma", "Verdana", sans-serif; font-size-adjust: none; font-stretch: normal;
}
.properties .label {
	text-align: right;
}
h1 {
	text-align: center; font-size: 130%;
}
