html {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
body {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
div {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
span {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
applet {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
object {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
iframe {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h1 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h2 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h3 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h4 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h5 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h6 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
p {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
blockquote {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
pre {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
a {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
abbr {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
acronym {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
address {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
big {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
cite {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
code {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
del {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dfn {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
img {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ins {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
kbd {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
q {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
s {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
samp {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
small {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
strike {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
sub {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
sup {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
tt {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
var {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dl {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dt {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dd {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ol {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ul {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
li {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
fieldset {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
form {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
label {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
legend {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
article {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
aside {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
canvas {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
details {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
embed {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
figure {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
figcaption {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
footer {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
header {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
hgroup {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
menu {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
nav {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
output {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ruby {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
section {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
summary {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
time {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
mark {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
audio {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
video {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
menu {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
body {
	font: 12px/15px Arial, Helvetica, sans-serif; font-size-adjust: none; font-stretch: normal;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
q {
	quotes: none;
}
blockquote::before {
	content: none;
}
blockquote::after {
	content: none;
}
q::before {
	content: none;
}
q::after {
	content: none;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
.smallText {
	font-size: 11px;
}
.gray {
	color: rgb(104, 104, 104);
}
#container {
	margin: 10px auto 0px; border: 1px solid rgb(204, 204, 204); width: 900px; 
	overflow: inherit; background-color: rgb(255, 255, 255);
}
#row {
	display: table-row;
}
#header {
	background: url("backgroundl_header.jpg") no-repeat top;
}
#header::after {
	clear: both; display: block; content: "";
}
#header_left {
	width: 300px; float: left;
}
#header_right {
	width: 700px; float: left;
}
#header_right_top {
	height: 35px;
}
a.logo {
	padding: 10px; float: left;
}
#tool {
	margin-top: 10px; float: left;
}
#tool ul li {
	font-size: 10px; vertical-align: middle; display: inline-block;
}
#tool ul li select {
	font-size: 10px;
}
#tool ul li a#text_size {
	width: 21px; height: 16px; display: block; background-image: url("btn_tools2.png");
}
#tool ul li a#color_blind {
	width: 21px; height: 16px; display: block; background-image: url("btn_tools2.png");
}
#tool ul li a.original#text_size {
	background-position: -22px 0px;
}
#tool ul li a.minus#text_size {
	background-position: -44px 0px; margin-right: 2px;
}
#tool ul li a.red#color_blind {
	background-position: -76px 0px;
}
#tool ul li a.green#color_blind {
	background-position: -98px 0px;
}
#tool ul li a.blue#color_blind {
	background-position: -120px 0px;
}
#tool ul li a.reset#color_blind {
	background-position: -141px 0px;
}
#login {
	background: url("background_top_head.png") no-repeat 0px 0px; width: 300px; height: 30px; float: right;
}
#login ul {
	padding-right: 25px; float: right;
}
#login ul li {
	line-height: 30px; display: inline-block;
}
#login ul li a {
	padding: 0px 7px; color: rgb(255, 255, 255); font-size: 11px; text-decoration: none; border-right-color: rgb(255, 255, 255); border-right-width: 1px; border-right-style: solid;
}
#login ul li:last-child a {
	border-right-color: currentColor; border-right-width: medium; border-right-style: none;
}
#login_bm {
	background: url("background_top_head_bm.png") no-repeat 0px 0px; width: 370px; height: 30px; float: right;
}
#login_bm ul {
	float: right;
}
#login_bm ul li {
	line-height: 30px; display: inline-block;
}
#login_bm ul li a {
	padding: 0px 7px; color: rgb(255, 255, 255); font-size: 11px; text-decoration: none; border-right-color: rgb(255, 255, 255); border-right-width: 1px; border-right-style: solid;
}
#login_bm ul li:last-child a {
	border-right-color: currentColor; border-right-width: medium; border-right-style: none;
}
img.title {
	float: left;
}
form.search {
	padding-right: 10px; float: right;
}
a.advance_search {
	color: rgb(102, 102, 102); font-size: 10px; text-decoration: none;
}
.time {
	font-size: 10px; margin-top: 10px; margin-right: 13px; float: right;
}
p#breadcrumb {
	padding: 5px 5px 5px 15px; font-size: 11px; background-color: rgb(214, 214, 214);
}
p#breadcrumb a {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: none;
}
p#breadcrumb a.contentPathLinkSelect {
	color: black; cursor: default; pointer-events: none;
}
p#breadcrumb a:hover {
	color: black; text-decoration: underline;
}
#slider_container {
	background: url("background_home_content.jpg") repeat-x 0px 0px; height: 279px;
}
#image_slider_container {
	width: 720px; height: 279px; overflow: hidden; float: left;
}
#text_slider_container {
	float: left;
}
div.nivo-caption h3 {
	padding: 5px 0px; color: rgb(23, 42, 160); font-size: 18px;
}
#text_slider {
	background: url("background_home_text_slider.jpg") repeat-x 0px 0px rgb(30, 29, 152); margin: 10px 10px 0px; padding: 10px; width: 240px; height: 240px; color: rgb(255, 255, 255); position: relative;
}
#text_slider ul#tab li {
	display: inline-block;
}
#text_slider ul#tab li a {
	padding: 5px 8px 6px; color: rgb(171, 168, 251); font-weight: bold; text-decoration: none; margin-bottom: 10px; display: block;
}
#text_slider ul#tab li a.selected {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(75, 74, 173) rgb(75, 74, 173) currentColor; background-color: rgb(30, 29, 152);
}
#text_slider_container div a {
	color: rgb(255, 255, 255); font-size: 12px; text-decoration: none;
}
#text_slider_container div.tab_content ul li {
	width: 190px; height: 40px;
}
#text_slider_container div ul li img.ico {
	width: 25px; height: 25px; overflow: hidden; margin-right: 10px; vertical-align: middle; display: inline-block;
}
.bx-prev {
	width: 22px; height: 15px; right: -40px; text-indent: -9999px; overflow: hidden; display: block; position: absolute; background-image: url("ico_slider_ctr.png"); background-repeat: no-repeat;
}
.bx-next {
	width: 22px; height: 15px; right: -40px; text-indent: -9999px; overflow: hidden; display: block; position: absolute; background-image: url("ico_slider_ctr.png"); background-repeat: no-repeat;
}
.bx-prev {
	top: 10%;
}
.bx-next {
	background-position: 0px -17px; bottom: 10%;
}
#left_col_index {
	margin: 10px; width: 700px; float: left;
}
#left_halfcol_index {
	margin: 10px; width: 330px; float: left;
}
#right_col_index {
	margin: 20px 20px 20px 0px; width: 260px; float: left;
}
.right_subCol_index {
	width: 260px;
}
.polls {
	background: url("background_polls.jpg") repeat-x 0px 35px rgb(92, 91, 201); padding: 8px 15px 15px; border-radius: 0px 0px 8px 8px; width: 230px; color: rgb(255, 255, 255); margin-bottom: 20px;
}
.polls form {
	clear: both; margin-top: 25px;
}
.polls form p.submit {
	margin-top: 15px;
}
.polls form p.submit a {
	color: rgb(185, 184, 255); font-size: 11px;
}
.forms {
	margin-top: 20px; margin-left: 15px;
}
.forms li {
	background: url("ico_arrow_white.png") no-repeat 0px 13px; padding-top: 10px; padding-left: 15px;
}
.forms li a {
	color: rgb(255, 255, 255); font-size: 12px; text-decoration: none;
}
.forms li a:hover {
	text-decoration: underline;
}
.more2 {
	text-align: right; display: block;
}
.more2 a {
	color: rgb(98, 192, 241); text-decoration: none;
}
.more2 a:hover {
	text-decoration: underline;
}
#col_title {
	background: url("background_col_header.jpg") repeat-x 0px 0px; padding: 7px 15px; height: 21px; color: rgb(255, 255, 255); line-height: 24px; font-size: 14px; font-weight: 600;
}
#col_title_gray {
	background: url("background_col_header_gray.jpg") repeat-x 0px 0px rgb(246, 246, 246); border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) currentColor; padding: 7px 15px; height: 21px; color: rgb(164, 0, 0); line-height: 24px; font-size: 14px; font-weight: 600;
}
#col_content {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204); padding: 15px; background-color: rgb(246, 246, 246);
}
#col_content_no_border {
	border: currentColor;
}
#col_content ul li a {
	text-decoration: none;
}
#col_content ul li a h5 {
	padding-bottom: 15px; font-size: 12px; font-weight: bold;
}
ul#newsWthumb li a img {
	float: left;
}
#newsWthumb li {
	overflow: hidden; padding-bottom: 10px; clear: both; display: block;
}
#newsWthumb h5 {
	width: 150px; margin-left: 10px; float: left;
}
span.polls_title {
	padding: 5px 15px 15px 0px; color: rgb(255, 255, 255); font-size: 14px; font-weight: 600;
}
.purple {
	color: rgb(71, 73, 175);
}
img.frame {
	padding: 3px; border: 1px solid rgb(204, 204, 204); max-height: 52px; max-width: 83px;
}
span.more {
	text-align: right; display: block;
}
span.more a {
	color: rgb(54, 59, 158); font-weight: bold; text-decoration: none;
}
#social {
	padding: 15px; display: block;
}
ul#social_link {
	text-align: right;
}
ul#social_link li {
	display: inline-block;
}
ul#social_link li a {
	width: 40px; height: 40px; display: block; background-image: url("ico_social.png"); background-repeat: no-repeat;
}
ul#social_link li a#youtube {
	background-position: -45px 0px;
}
ul#social_link li a#rss {
	background-position: -90px 0px;
}
.left_panel {
	background: url("background_article_menu.jpg") repeat-y right top rgb(246, 246, 245);
}
#side_menu_container {
	background: url("background_article_menu.jpg") repeat-y right top rgb(246, 246, 245); width: 220px; float: left; display: table-cell;
}
.side_menu_title {
	padding: 15px; color: rgb(255, 255, 255); font-weight: bold; background-color: rgb(132, 130, 127);
}
.lightGray {
	background-color: rgb(132, 130, 127);
}
.side_menu {
	padding: 15px;
}
.side_menu li {
	background: url("ico_arrow.png") no-repeat left 7px; padding-left: 10px; margin-bottom: 10px;
}
.side_menu li a {
	color: rgb(51, 51, 51); font-size: 12px; text-decoration: none;
}
.side_menu li a:hover {
	color: rgb(0, 126, 255);
}
.side_menu li a.selected {
	color: rgb(0, 126, 255);
}
.side_menu ul li {
	margin-bottom: 5px; margin-left: 15px;
}
.side_menu ul li:first-child {
	margin-top: 10px;
}
.side_menu ul li:last-child {
	margin-bottom: 20px;
}
#article {
	padding: 15px; width: 750px; text-align: justify; float: left; display: table-cell;
}
#article h2 {
	color: rgb(84, 83, 216); text-transform: uppercase; padding-bottom: 5px; font-size: 16px; font-weight: bold; margin-bottom: 25px; border-bottom-color: rgb(153, 153, 153); border-bottom-width: 1px; border-bottom-style: solid;
}
#article h3 {
	color: rgb(108, 108, 108); font-weight: bold;
}
table.styled {
	font-size: 11px; margin-top: 15px;
}
table.styled select {
	font-size: 11px;
}
table.styled a {
	color: rgb(39, 67, 157); text-decoration: none;
}
table.styled a:hover {
	text-decoration: underline;
}
table.styled thead {
	color: rgb(255, 255, 255); background-color: rgb(160, 161, 232);
}
table.styled td {
	border: 1px solid rgb(255, 255, 255);
}
table.styled tr:nth-child(2n+1) {
	background-color: rgb(235, 235, 235);
}
table.styled tr:nth-child(2n) {
	background-color: rgb(242, 242, 242);
}
#footer {
	margin: 0px auto; padding: 15px; width: 970px; color: rgb(255, 255, 255); font-size: 12px; border-right-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; background-color: rgb(72, 72, 192);
}
#footer a {
	color: rgb(255, 255, 255); text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}
ul#footer_link li {
	display: inline-block;
}
ul#footer_link li a {
	padding: 0px 5px; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;
}
ul#footer_link li:last-child a {
	border: currentColor;
}
p.hit_count {
	line-height: 20px;
}
p.hit_count span {
	padding-left: 5px; float: right;
}
p.hit_count img {
	padding-left: 5px; float: right;
}
span.no0 {
	background: url("hitcount.jpg") 13px 0px; border: 0px currentColor; width: 8px; height: 18px; margin-left: 3px;
}
span.no1 {
	background: url("hitcount.jpg") -1px 0px; border: 0px currentColor; width: 8px; height: 18px; margin-left: 3px;
}
span.no2 {
	background: url("hitcount.jpg") -15px 0px; border: 0px currentColor; width: 8px; height: 18px; margin-left: 3px;
}
span.no3 {
	background: url("hitcount.jpg") -29px 0px; border: 0px currentColor; width: 8px; height: 18px; margin-left: 3px;
}
span.no4 {
	background: url("hitcount.jpg") -43px 0px; border: 0px currentColor; width: 8px; height: 18px; margin-left: 3px;
}
span.no5 {
	background: url("hitcount.jpg") -57px 0px; border: 0px currentColor; width: 8px; height: 18px; margin-left: 3px;
}
span.no6 {
	background: url("hitcount.jpg") -71px 0px; border: 0px currentColor; width: 8px; height: 18px; margin-left: 3px;
}
span.no7 {
	background: url("hitcount.jpg") -85px 0px; border: 0px currentColor; width: 8px; height: 18px; margin-left: 3px;
}
span.no8 {
	background: url("hitcount.jpg") -99px 0px; border: 0px currentColor; width: 8px; height: 18px; margin-left: 3px;
}
span.no9 {
	background: url("hitcount.jpg") -113px 0px; border: 0px currentColor; width: 8px; height: 18px; margin-left: 3px;
}
.login {
	background-color: rgb(38, 92, 154);
}
.login #background img {
	left: 0px; top: 0px; width: 100%; height: 100%; display: block; position: absolute; z-index: -999;
}
.login .container {
	margin: 30px auto; width: 800px; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d3d3d3', GradientType=0); background-repeat: repeat-x; background-color: rgb(245, 245, 245);
}
.login_btn {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); padding: 5px 15px; border-radius: 3px; text-align: center; color: rgb(255, 255, 255); line-height: 20px; vertical-align: middle; filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); cursor: pointer; background-repeat: repeat-x; background-color: rgb(0, 68, 204); text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}
.login_btn:hover {
	background-position: 0px -15px; text-decoration: none; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear;
}
.login_btn:focus {
	background-position: 0px -15px; text-decoration: none; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear;
}
#header_login {
	background: url("background_login_head.png") no-repeat 0px 0px; margin: 1px; height: 105px; overflow: hidden;
}
#header_login ul {
	margin-top: 15px;
}
#header_login ul li {
	margin-right: 10px; vertical-align: middle; display: inline-block;
}
#login_content {
	padding: 50px;
}
#login2 {
	margin: 0px auto; padding: 50px; width: 550px;
}
#login2 h3 {
	color: rgb(115, 113, 224); font-size: 20px; font-weight: bold;
}
#login_select {
	padding: 15px 50px; border: 1px solid rgb(255, 255, 255); text-align: center; color: rgb(108, 107, 215); display: inline-block; background-color: rgb(218, 218, 218);
}
#login_select a {
	text-decoration: none;
}
#login_select a:hover {
	text-decoration: underline;
}
#login_select a h4 {
	color: rgb(108, 107, 215); padding-top: 15px; padding-bottom: 10px; font-size: 15px; font-weight: bold;
}
#login_select a p {
	color: rgb(108, 107, 215); font-size: 11px;
}
#login_select_container {
	margin: 10px; padding: 5px; display: inline-block; background-color: rgb(218, 218, 218);
}
#login_field {
	padding: 15px; margin-top: 15px; background-color: rgb(243, 243, 243);
}
#login_field input[type='text'] {
	padding: 7px;
}
#login_field input[type='password'] {
	padding: 7px;
}
#login_field h4 {
	font-size: 18px;
}
#menu {
	background: url("background_menu.jpg") repeat-x 0px 0px; height: 46px; clear: both; margin-top: 20px; position: relative; z-index: 999;
}
#menu ul li a {
	text-decoration: none;
}
#menu > ul {
	padding: 0px 20px; display: inline-table; position: relative;
}
#menu ul::after {
	clear: both; display: block; content: "";
}
#menu ul li {
	float: left;
}
#menu > ul > li {
	border-right-color: rgb(89, 89, 195); border-right-width: 1px; border-right-style: solid;
}
#menu ul li:hover {
	
}
#menu > ul > li:hover > a {
	background: url("Index-dropmenu.jpg") repeat-x center;
}
#menu ul li ul li ul li a {
	width: 220px;
}
#menu ul li a {
	padding: 14px 20px; color: rgb(255, 255, 255); font-weight: 700; display: block;
}
#menu ul ul {
	top: 100%; display: none; position: absolute; background-color: rgb(30, 28, 151);
}
#menu ul ul li {
	border-bottom-color: rgb(120, 119, 195); border-bottom-width: 1px; border-bottom-style: solid; float: none; position: relative;
}
#menu ul ul li a {
	padding: 8px 20px;
}
#menu ul ul li a:hover {
	background-color: rgb(117, 113, 226);
}
#menu ul li:hover > ul {
	display: block;
}
#menu ul ul ul {
	left: 100%; top: 0px; position: absolute;
}
.glossymenu {
	margin: 5px 0px; padding: 15px; width: 190px; border-bottom-width: 0px;
}
.glossymenu a.menuitem {
	padding: 4px 0px 4px 10px; width: auto; color: rgb(51, 51, 51); font-size: 12px; text-decoration: none; margin-bottom: 10px; display: block;
}
.glossymenu a.menuitem:visited {
	color: rgb(51, 51, 51);
}
.glossymenu .menuitem:active {
	color: rgb(51, 51, 51);
}
.glossymenu a.menuitem .statusicon {
	border: currentColor; top: 5px; right: 5px; position: relative;
}
.glossymenu a.menuitem:hover {
	color: rgb(0, 126, 255);
}
.glossymenu div.submenu {
	
}
.glossymenu div.submenu ul {
	margin: 0px; padding: 0px; list-style-type: none;
}
.glossymenu div.submenu ul li {
	margin-bottom: 5px; margin-left: 15px;
}
.glossymenu div.submenu ul li:first-child {
	margin-top: 10px;
}
.glossymenu div.submenu ul li:last-child {
	margin-bottom: 20px;
}
.glossymenu div.submenu ul li a {
	padding: 2px 0px 2px 10px; color: rgb(51, 51, 51); font-size: 12px; text-decoration: none; display: block;
}
.glossymenu div.submenu ul li a:hover {
	color: rgb(0, 126, 255);
}
.register {
	padding: 60px;
}
.register p {
	width: 100%; margin-bottom: 15px; vertical-align: top; display: inline-block;
}
.register p::after {
	height: 0px; line-height: 0px; clear: both; display: block; visibility: hidden; content: "";
}
.register p > label {
	width: 150px; text-align: right; padding-right: 10px; float: left;
}
.register p > span {
	margin-left: 155px; display: block;
}
.register p > span.sub {
	color: rgb(0, 51, 204); font-size: 12px; margin-left: 25px;
}
.register p > span.sec {
	margin-left: 10px;
}
.register span > label {
	margin-left: 10px;
}
.register span > label:nth-of-type(1) {
	margin-left: 0px;
}
.register .required {
	text-align: right; color: rgb(255, 0, 0); font-weight: bold;
}
.register p input[type='text'] {
	width: 220px;
}
.register p input[type='password'] {
	width: 220px;
}
.register p select {
	width: 220px;
}
.register p textarea {
	width: 220px;
}
.register p textarea {
	resize: vertical;
}
.register > h2 {
	color: rgb(84, 83, 216); text-transform: uppercase; padding-bottom: 5px; font-size: 14px; font-weight: bold; margin-top: 25px; margin-bottom: 25px; border-bottom-color: rgb(153, 153, 153); border-bottom-width: 1px; border-bottom-style: solid;
}
.register h2:nth-of-type(1) {
	margin-top: 0px;
}
.register input[type='submit'] {
	padding: 8px 15px; border-radius: 5px; border: 1px solid rgb(59, 59, 175); color: rgb(255, 255, 255); margin-top: 20px; margin-bottom: 20px; margin-left: 10px; float: right; display: inline-block; cursor: pointer; background-color: rgb(72, 72, 192); text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.register input[type='submit']::after {
	height: 0px; line-height: 0px; clear: both; display: block; visibility: hidden; content: "";
}
.register input[type='submit']:hover {
	background-color: rgb(89, 89, 210);
}
.register input[type='submit'].secondary {
	border-color: rgb(85, 85, 85); background-color: rgb(102, 102, 102);
}
.register input[type='submit'].secondary:hover {
	background-color: rgb(119, 119, 119);
}
.warning {
	color: rgb(255, 0, 0); font-size: 11px; margin-top: 5px; display: block;
}
.weak {
	color: rgb(255, 102, 0);
}
.good {
	color: rgb(0, 102, 255);
}
.strong {
	color: rgb(0, 153, 0);
}
.services {
	padding: 0px;
}
.services p {
	width: 100%; margin-bottom: 15px; vertical-align: top; display: inline-block;
}
.services p::after {
	height: 0px; line-height: 0px; clear: both; display: block; visibility: hidden; content: "";
}
.services p > label {
	width: 180px; text-align: right; padding-right: 10px; float: left;
}
.services p > span {
	margin-left: 155px; display: block;
}
.services p > span.sub {
	color: rgb(0, 51, 204); font-size: 12px; margin-left: 27px;
}
.services p > span.sec {
	margin-left: 5px;
}
.services span > label {
	margin-left: 10px;
}
.services span > label:nth-of-type(1) {
	margin-left: 0px;
}
.services .required {
	text-align: right; color: rgb(255, 0, 0); font-weight: bold;
}
.services p input[type='text'] {
	width: 220px;
}
.register p input[type='password'] {
	width: 220px;
}
.register p select {
	width: 220px;
}
.register p textarea {
	width: 220px;
}
.services p textarea {
	resize: vertical;
}
.services > h2 {
	color: rgb(84, 83, 216); text-transform: uppercase; padding-bottom: 5px; font-size: 14px; font-weight: bold; margin-top: 25px; margin-bottom: 25px; border-bottom-color: rgb(153, 153, 153); border-bottom-width: 1px; border-bottom-style: solid;
}
.services h2:nth-of-type(1) {
	margin-top: 0px;
}
.services input[type='submit'] {
	padding: 8px 15px; border-radius: 5px; border: 1px solid rgb(59, 59, 175); color: rgb(255, 255, 255); margin-top: 20px; margin-bottom: 20px; margin-left: 10px; float: right; display: inline-block; cursor: pointer; background-color: rgb(72, 72, 192); text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.services input[type='submit']::after {
	height: 0px; line-height: 0px; clear: both; display: block; visibility: hidden; content: "";
}
.services input[type='submit']:hover {
	background-color: rgb(89, 89, 210);
}
.services input[type='submit'].secondary {
	border-color: rgb(85, 85, 85); background-color: rgb(102, 102, 102);
}
.services input[type='submit'].secondary:hover {
	background-color: rgb(119, 119, 119);
}
.warning {
	color: rgb(255, 0, 0); font-size: 11px; margin-top: 5px; display: block;
}
.weak {
	color: rgb(255, 102, 0);
}
.good {
	color: rgb(0, 102, 255);
}
.strong {
	color: rgb(0, 153, 0);
}
#dashboard {
	padding: 1.5%;
}
.col3_container {
	width: 32%; vertical-align: top; display: inline-block; min-height: 50px;
}
.col3_container > :nth-last-of-type(1).col3 {
	margin-bottom: 0%;
}
.col3 {
	background: url("Header_dashboard.jpg") repeat-x 0px 0px rgb(240, 240, 240); padding: 3%; margin-bottom: 5%; vertical-align: top; display: block;
}
:nth-of-type(2).col3_container {
	margin: 0% 1.5%;
}
.col3 > h3 {
	color: rgb(136, 136, 136); padding-bottom: 5px; font-size: 13px; font-weight: bold; margin-bottom: 5px; border-bottom-color: rgb(153, 153, 153); border-bottom-width: 1px; border-bottom-style: solid;
}
.col3 > ul {
	margin: 5px 0px 15px 10px; font-size: 12px; display: block;
}
.col3 > ul li {
	list-style: square; color: rgb(0, 79, 177); margin-left: 20px;
}
.col3 > ul:nth-last-of-type(1) {
	margin-bottom: 0px;
}
.ico_doc::before {
	background: url("ico_header_dashboard.png") no-repeat 0px 0px; width: 25px; height: 25px; vertical-align: middle; display: inline-block; content: "";
}
.doc_2::before {
	background-position: -22px 0px;
}
.doc_3::before {
	background-position: -45px 0px;
}
.doc_4::before {
	background-position: -70px 0px;
}
.doc_5::before {
	background-position: -93px 0px;
}
.doc_6::before {
	background-position: -114px 0px;
}
.doc_7::before {
	background-position: -138px 0px;
}
.dashboard .title {
	margin-top: 20px;
}
.dashboard .time {
	margin-top: 70px;
}
.dashboard .time ul li {
	padding-right: 10px; margin-right: 10px; border-right-color: rgb(153, 153, 153); border-right-width: 1px; border-right-style: solid; display: inline-block;
}
.dashboard .time ul li:nth-last-child(1) {
	border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#compDetails > h2 {
	color: rgb(84, 83, 216); text-transform: uppercase; padding-bottom: 5px; font-size: 14px; font-weight: bold; margin-top: 25px; margin-bottom: 25px; border-bottom-color: rgb(153, 153, 153); border-bottom-width: 1px; border-bottom-style: solid;
}
#col-01 {
	margin: 0px 20px 0px 0px; padding: 20px; width: 655px; float: left;
}
#col-01 h2 {
	color: rgb(84, 83, 216); text-transform: uppercase; padding-bottom: 5px; font-size: 14px; font-weight: bold; margin-top: 25px; margin-bottom: 25px; border-bottom-color: rgb(153, 153, 153); border-bottom-width: 1px; border-bottom-style: solid;
}
#page-body {
	margin: 0px auto; padding: 20px 0px; width: 960px; overflow: hidden;
}
