.nivoSlider {
	width: 100%; height: auto; overflow: hidden; position: relative;
}
.nivoSlider img {
	left: 0px; top: 0px; position: absolute; max-width: none;
}
.nivo-main-image {
	width: 100% !important; display: block !important; position: relative !important;
}
.nivoSlider a.nivo-imageLink {
	background: white; margin: 0px; padding: 0px; border: 0px currentColor; left: 0px; top: 0px; width: 100%; height: 100%; display: none; filter: alpha(opacity=0); position: absolute; z-index: 6; opacity: 0;
}
.nivo-slice {
	top: 0px; height: 100%; display: block; position: absolute; z-index: 5;
}
.nivo-box {
	overflow: hidden; display: block; position: absolute; z-index: 5;
}
.nivo-box img {
	display: block;
}
.nivo-caption {
	background: rgb(255, 255, 255); padding: 10px; left: 0px; width: 75%; bottom: 0px; color: rgb(0, 0, 0); overflow: hidden; display: none; filter: alpha(opacity=8); position: absolute; z-index: 8; box-sizing: border-box; opacity: 0.8; -moz-opacity: 0.8; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.nivo-caption p {
	margin: 0px; padding: 5px;
}
.nivo-caption a {
	display: inline !important;
}
.nivo-html-caption {
	display: none;
}
.nivo-directionNav a {
	top: 45%; display: none; position: absolute; z-index: 9; cursor: pointer;
}
.nivo-prevNav {
	left: 0px;
}
.nivo-nextNav {
	right: 0px;
}
.nivo-controlNav {
	padding: 12px; top: -40px; width: 25%; text-align: center; float: right; position: relative; z-index: 10;
}
.nivo-controlNav a {
	background: url("bullets.png") no-repeat; margin: 0px 2px; border: 0px currentColor; width: 22px; height: 22px; text-indent: -9999px; float: right; cursor: pointer;
}
.nivo-controlNav a.active {
	background-position: 0px -22px; font-weight: bold;
}
