.strength0 {
	background: rgb(204, 204, 204); width: 146px;
}
.strength1 {
	background: rgb(255, 0, 0); width: 40px;
}
.strength2 {
	background: rgb(255, 95, 95); width: 60px;
}
.strength3 {
	background: rgb(86, 229, 0); width: 80px;
}
.strength4 {
	background: rgb(77, 205, 0); width: 100px;
}
.strength5 {
	background: rgb(57, 152, 0); width: 146px;
}
