.DynarchCalendar {
	font-size: 10px;
}
.DynarchCalendar table {
	font-size: 10px;
}
.DynarchCalendar-dayNames {
	padding: 0px;
}
.DynarchCalendar-body {
	padding: 0px;
}
.DynarchCalendar-animBody-back {
	top: 0px;
}
.DynarchCalendar-animBody-fwd {
	top: 0px;
}
.DynarchCalendar-animBody-now {
	top: 0px;
}
.DynarchCalendar-first-col {
	padding-left: 0px;
}
.DynarchCalendar-last-col {
	padding-right: 0px;
}
.DynarchCalendar-weekNumber {
	padding-right: 4px !important; margin-right: 0px;
}
.DynarchCalendar-dayNames div {
	padding: 1px 2px;
}
.DynarchCalendar-day {
	padding: 1px 2px;
}
.DynarchCalendar-weekNumber {
	padding: 1px 2px;
}
.DynarchCalendar-menu-year {
	font-size: 12px;
}
.DynarchCalendar-hover-date {
	padding: 0px 1px;
}
.DynarchCalendar-day-selected {
	padding: 0px 1px;
}
.DynarchCalendar-menu table td div {
	padding: 2px 4px;
}
.DynarchCalendar-menu table td div.DynarchCalendar-hover-navBtn {
	padding: 1px 3px;
}
