#accordion-container {
	background: rgb(255, 255, 255); padding: 5px 10px 10px; border-radius: 5px; border: 1px solid rgb(204, 204, 204); font-size: 13px; box-shadow: 0px 5px 15px #cccccc; -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 0 5px 15px #cccccc; -webkit-box-shadow: 0 5px 15px #cccccc;
}
.accordion-header {
	background: rgb(235, 235, 235); margin: 5px 0px 0px; padding: 5px 30px; border-radius: 5px; border: 1px solid rgb(204, 204, 204); color: rgb(102, 102, 102); font-size: 16px; cursor: pointer; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.active-header {
	background: url("active-header.gif") no-repeat 10px 50% rgb(72, 72, 192); border-radius: 5px 5px 0px 0px; color: rgb(255, 255, 255); -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0;
}
.active-header:hover {
	background: url("active-header.gif") no-repeat 10px 50% rgb(89, 89, 210);
}
.inactive-header {
	background: url("inactive-header.gif") no-repeat 10px 50% rgb(235, 235, 235);
}
.inactive-header:hover {
	background: url("inactive-header.gif") no-repeat 10px 50% rgb(245, 245, 245);
}
.accordion-content {
	background: rgb(255, 255, 255); border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204); padding: 20px 30px; border-radius: 0px 0px 5px 5px; display: none; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px;
}
