body {
	background: url('images/bg_gradient.gif') repeat-x;
}

#header {
	padding:5px 15px 0px 15px;
	background: white;
}

#logo {
	padding-top:28px;
}
#site-title strong{
	color: #0B65B9;
}
#container {
	padding-top: 12px;
	background: white;
}
li.menu-item {
	border-left: 1px solid #859ED3;
}
.concrete-bg {
	background-image: url('images/concrete_wall.png'); 
}
.highlight-item {
	padding-left: 10px;
	padding-right: 10px;
}
.highlight-item h4 {
	font-size: 15px;
	font-weight: 900;
	color: #713D99;
}
.highlight-item p {
	font-size: 12px;
	color: #7674E2;
}

.news-item {
	padding: 10px;
}

.news-item .news-title {
	font-size: 0.9rem;
}

.news-item .news-more-link {
	padding-bottom: 10px;
}

.event-calendar table {
	margin: 0 auto;
}
.sitelinks ul li a{
	font-size: 12px;
}
.sitelinks ul li{
	float:left;
	list-style: none;
}

#footer-row {
	font-size: 12px;
	font-weight: normal;
	background-color: #7674E2;
	color:white;
}

#footer-row a {
	color:#fff;
}
#footer-address {
	font-size: 12px;
}
#footer-address.vcard {
	border: none;
}

#footer-copyright {
	font-size: 15px;
}

li.widget {
	list-style: none;
	border: 1px solid #7674E2;
	padding-bottom: 10px;
	margin-bottom: 10px;
	-moz-box-shadow:    0px 0px 1rem 0.1rem #7674E2;
	-webkit-box-shadow: 0px 0px 1rem 0.1rem #7674E2;
	box-shadow:         0px 0px 1rem 0.1rem #7674E2;
	background-color: #fff;
}

.widget h2 {
	font-size: 0.8125rem;
	padding: 8px 0 10px 15px;
	background-image: url('images/background_menu.jpg');
	color:white;
	margin-top: 0;
}

.widget.sector-division {
	background:#5034C0;
}
.widget .sector-division-slider {
	padding: 20px 10px 10px 25px;
	zoom:1;
	height: 180px;
}
.widget .sector-division-slider img {
	display: inline-block;
	margin: 3px;
}
.widget .sector-division-slider a {
	font-size: 13px;
	color: white;
}
/* icons */
.sections-and-divisions-ico {
	width:25px;
	height:25px; 
	background: url('images/ico_default.png');
	display: inline-block;
	position: relative;
	top:10px;
}

/* second level menu */
/*
.top-bar li>ul.sub-menu {
	display: none;
}
.top-bar li:hover>ul.sub-menu {
	position: absolute;
	z-index: 999;
	display: block;
}
.top-bar li>ul.sub-menu>li {
	float:none;
	display: block;
}
*/

/* third level menu */
/*
.top-bar li>ul.sub-menu>li:hover>ul.sub-menu {
	position: absolute;
	bottom: 0px;
	left: 100%;
	width: 100%;
	display: block;
}
.top-bar-section li.current-menu-item>a:not(.button),
.top-bar-section li.current-menu-ancestor>a:not(.button) {
	background: #7C14CC;
	background-image: none; 
} */

/* top links */
#top-links {
	background: url('images/background_top_head_bm.png');
	margin-bottom: 3px;
	padding: 3px 10px 10px 60px;
	color:white;
	font-weight: normal;
	font-size: small;
	height: 20px;
	float: right;

}

#top-links a {	
	color: white;
	font-size: 11px;
	font-weight: normal;
}
/* utility */
.alignleft {
	float:left;
}

/* overrides */
a {
	font-weight: normal;
}
/* w3c tools */
.tools {
	background: url('images/btn_tools2.png');
	height: 16px;
	width: 21px;
	margin: 5px 1px 1px 1px;
	float: right;
	cursor: hand;
	cursor: pointer;
}

.tools.font-size-increase {
	background-position: 0px 0px;
}

.tools.font-size-reset {
	background-position: -21px 0px;
}

.tools.font-size-decrease {
	background-position: -43px 0px;
}

.tools.font-color-red {
	background-position: -75px 0px;
}

.tools.font-color-green {
	background-position: -97px 0px;
}

.tools.font-color-blue {
	background-position: -119px 0px;
}

.tools.font-color-reset {
	background-position: -141px 0px;
}


