/**
 * Table of Contents for FoundationPress:
 *
 * 1.0 - Typography
 * 2.0 - Header, sidebar and footer
 * 3.0 - Content
 *	3.1 - Pages
 *	3.2 - Posts
 *	3.3	- Widgets
 *	3.4 - Comments
  *	3.5 - Lists
  * 3.6 - Forms
 * 4.0 - Plugins

 * ----------------------------------------------------------------------------
 */

/**
 * 1.0 Typography
 * ----------------------------------------------------------------------------
 */

// Insert styles here


/**
 * 2.0 Header, sidebar and footer
 * ----------------------------------------------------------------------------
 */

#accessibility-tools {
	/* w3c tools */
	li.widget {
		list-style: none;
		display: inline-block;
		vertical-align: top;
		&> ul > li {
			list-style: none;
			display: inline-block;
			margin-right: 5px;
		}
	}

	.tools {
		background: url('../assets/img/btn_tools2.png');
		height: 16px;
		width: 21px;
		margin: 5px 1px 1px 1px;
		display:inline-block;
		cursor: hand;
		cursor: pointer;
		&.font-size-increase { background-position: 0px 0px; }
		&.font-size-decrease { background-position: -43px 0px; } 
		&.font-size-reset { background-position: -21px 0px; }
		&.font-color-red { background-position: -75px 0px; }
		&.font-color-green { background-position: -97px 0px; }
		&.font-color-blue { background-position: -119px 0px; }
		&.font-color-reset { background-position: -141px 0px; }
	}
}
#translate-widget {
	li { 
		display: inline-block;
		list-style: none;
		margin: 0px 2px;
	}
}

#searchsubmit {
	padding: 0px;
	line-height: 1.87rem;
}

header {
	.top-header-container {
		padding: 0px;
		padding-top: 20px;
		border-radius: 22px 22px 0px 0px;
		border-bottom: none;
		-webkit-box-shadow: 0px 0px 12px #fff;
		-moz-box-shadow: 0px 0px 12px #fff;
		box-shadow: 0px 0px 12px #fff;
	}
	.subheader { 
		margin: 0;
		padding: 0;
	}
	h1 {
		padding: 0;
		margin-bottom: 5px;
		line-height: 1;
		a {
			font-family: Cambria, Georgia, serif;
			font-size: 35px;
			font-weight: 700;
		}
	}


}

footer {
	#sitelinks {
		ul { 
			list-style: none;
			text-align: center;
			li { 
				a { color: $text-yellow; }
				display: inline-block; 
			}
		}
	}
	p { margin-bottom: 0px; }
}
/**
 * 3.0 Content
 * ----------------------------------------------------------------------------
 */


/**
 * 3.1 Pages
 * ------------------------------------
 */

// Insert styles here

.container {
	.top-bar-menu.right {
		max-width: 220px;
	}

	&>.row {
		background-color: #fff; 
		box-shadow: 0px 3px 12px #fff;
		border-radius: 0px 0px 22px 22px;
		min-height: 1200px;
		&>.orbit-container {
			ul{ 
				max-height: 300px;
				box-shadow:0px 125px 55px -100px #3A3A3A;
				li>img {
					max-height: 300px;
					margin: 0 auto;
				}
			}
		}
	}
}

//utility class
.text-yellow {color: $text-yellow;}
.text-blue {color: $text-blue;}
.text-red {color: $text-red;}
.text-orange {color: $dca-orange;}

$border: 1px solid #CCCCD3;
.columns {
	.row-gap-10 {margin-bottom: 10px;}
	.row-gap-20 {margin-bottom: 20px;}
	.drop-padding {padding: 0px;}
	.drop-padding-left {padding-left: 0;}
	.borderize {
		border: $border;
		border-radius: 3px;
	}
	.shadow {
		box-shadow: -1px 2px 1px #DADADA
	}
	.white-bg {background-color:#fff;}
}

//index page style
$tabs-padding: 5px 20px;
$tabs-margin: 1px;
$tabs-border-radius: 5px;
#first-content-tabs {
	.content {
		height: 258px;
		overflow: auto;
	}
}

#second-content-tabs {
	.content {
		height: 180px;
		overflow: auto;
	}
}

#third-content-tabs {
	#photo {
		img {
			height: 160px;
			width: 100%;
		}
	}
	.content {
		height: 196px;
		overflow: hidden;
		li {
			border: none;
		}
		.tabs-content {
			margin-bottom: 0;
		}
	}
}
.content-tabs {
	padding: 5px;
	&.no-border {
		border: none;
	}
	dd {
		padding: 0px;
		text-align: center;
		> a {
			padding: $tabs-padding;
			margin: $tabs-margin;
			border-radius: $tabs-border-radius;
			background-color: $primary-bg-color;
			color: $primary-font-color;
			font-weight: bold;
			font-size: 15px;
		}
		&.active {
			> a {
				background-color: $active-bg-color;
				color: $active-font-color;
			}
		}
	}
	ul { list-style: none; }
	li {
		border-bottom: $border;
		p { 
			font-size: 0.8rem;
		}
	}
}
.gallery {
	img: {
		height:160px;
	}	
}

#polls-widget {
	padding: 5px;
	list-style: none;
	li.wptt_TwitterTweets {
		list-style: none;
		form {
			border-top: $border;
			margin-top: 10px;
			text-align: left;
		}
		ul { list-style: none; }
	}
}
#external-links, #external-links-2 {
	padding-top: 5px;
	padding-bottom: 10px;
	a {
		text-align: center;
		display: block;
	}
	img {
		max-height: 32px;
		display: inline-block;
	}
	li {
		display: table;
		.columns {
			display: table-cell;
			float: none;
			vertical-align: middle;
		}
	}
	.orbit-next { 
		width: 11px;
		&:hover { background-color:transparent; }
		span {
			border-left-color: $dca-primary-blue;
			&:hover { border-left-color: $dca-secondary-blue; }
		}
	}
	.orbit-prev { 				
		left: -10px;
		&:hover { background-color:transparent; }
		span {
			border-right-color: $dca-primary-blue;
			&:hover { border-right-color: $dca-secondary-blue; }
		}
	}
}

#external-links {
	img { max-height: 50px; }
}

#external-links-2 { 
	border:none; 
	padding-bottom: 0;
}

#left-sidebar {
	li.widget {
		list-style: none;
	}
}

#sector-division-menu{
	.orbit-next { 
		width: 11px;
		&:hover { background-color:transparent; }
		span {
			border-left-color: $dca-primary-blue;
			&:hover { border-left-color: $dca-secondary-blue; }
		}
	}
	.orbit-prev { 				
		left: -10px;
		&:hover { background-color:transparent; }
		span {
			border-right-color: $dca-primary-blue;
			&:hover { border-right-color: $dca-secondary-blue; }
		}
	}
}

#sidebar {
		#contact-us {
			padding-bottom:20px;
		}
		h5 { 
			text-align:center; 
			font-weight: bold;
			margin-top: 15px;
		}

		.common-header h5{
			margin-top:8px;
		}

		#online-services-header { margin-top: 8px;}
		#online-services {
			a {
				color: inherit;
				&:visited {
					color: inherit;	
				}
			}
			i {
				font-size: 3rem;
			}
			span {display:block}
			span.border-yellow { border-bottom: 5px solid $text-yellow; }
			span.border-blue { border-bottom: 5px solid $text-blue; }
			span.border-red { border-bottom: 5px solid $text-red; }
		}
		#sector-division-menu {
		ul.sector-division-slider>li {
			padding-left: 40px;
			a {
				color: $text-blue;
				display:table;
				> i {
					display: table-cell;
					font-size: 2rem;
				}
				> span {
					display: table-cell;
					vertical-align:middle;
				}
			}
		}
	}
}

/**
 * 3.2 Posts
 * ------------------------------------
 */

// Insert styles here


/**
 * 3.3 Widgets
 * ------------------------------------
 */

// Insert styles here

.widget {
	.widgettitle {
		color: #FFF;
		background-color: #039;
		border-radius: 2px;
		text-align: center;
		font-size: 20px;
		padding: 11px;
	}
}

#qtranslate-2 .qtrans_language_chooser .active span {
	color: $text-red;
}

/**
 * 3.4 Comments
 * ------------------------------------
 */

// Insert styles here


/**
 * 3.5 Lists
 * ------------------------------------
 */

// Insert styles here
table.files {
	width: 100%;
	th {
		font-weight: normal;
		text-transform: uppercase;
	}
	td>a {
		display: block;
		text-align: center;
	}
}

/**
 * 3.6 Forms
 * ------------------------------------
 */

// Insert styles here


/**
 * 4.0 Plugins
 * ----------------------------------------------------------------------------
 */

// Insert styles here