/**
 * Custom color scheme
 * ----------------------------------------------------------------------------
 */

$dca-primary-blue: #003399;
$dca-secondary-blue: #2E5999;
$dca-orange: #FF9933;

$primary-bg-color: $dca-primary-blue;
$primary-font-color: #fff;

$active-bg-color: $dca-orange;
$active-font-color: #000;

$text-red: #D42C2C;
$text-blue: $dca-primary-blue;
$text-yellow: #E6C727;