BODY {
	BACKGROUND-COLOR: #e7e8e9; LETTER-SPACING: 0.05em; FONT: 15px "Microsoft Yahei", Arial, Helvetica, sans-serif, "??"; COLOR: #333
}
#content {
	BORDER-BOTTOM: #dcdde2 1px solid; BORDER-LEFT: #dcdde2 1px solid; PADDING-BOTTOM: 50px; BACKGROUND-COLOR: #fff; MARGIN: 40px 50px; PADDING-LEFT: 40px; PADDING-RIGHT: 40px; BORDER-TOP: #dcdde2 1px solid; BORDER-RIGHT: #dcdde2 1px solid; PADDING-TOP: 30px
}
H1 {
	LINE-HEIGHT: 35px; MARGIN: 3px 0px; HEIGHT: 32px; COLOR: #1f1f1f; FONT-SIZE: 19px
}
B {
	COLOR: #1f1f1f; FONT-WEIGHT: bold
}
P {
	MARGIN: 8px 1px
}
OL {
	MARGIN-TOP: 5px
}
.warning {
	PADDING-LEFT: 35px; BACKGROUND: url(../img/warning.gif) no-repeat left 50%
}
.partition {
	BACKGROUND-COLOR: #00aeef; MARGIN-BOTTOM: 8px; HEIGHT: 2px; FONT-SIZE: 1px
}
.partition_left {
	BACKGROUND-COLOR: #005aab; DISPLAY: block; HEIGHT: 2px; BORDER-RIGHT: #fff 1px solid
}
.buttons INPUT {
	BORDER-BOTTOM-STYLE: none; MARGIN-TOP: 25px; BORDER-LEFT-STYLE: none; WIDTH: 80px; BORDER-TOP-STYLE: none; BACKGROUND: url(../img/buttons.gif) no-repeat; HEIGHT: 22px; BORDER-RIGHT-STYLE: none; FONT-SIZE: 12px; CURSOR: pointer
}
.b_distance {
	PADDING-BOTTOM: 12px
}
